---
layout: default
title: "Valencia.rb - Grupo local de usuarios de Ruby en Valencia"
---

    <div id="main" role="main" class="clearfix">

      <p class="eyelet margin_top_0">
        Valencia.rb es el grupo local de usuarios de Ruby en Valencia. Nos encontramos habitualmente al menos una vez al mes
        alrededor de un pequeño picoteo y unas cervezas.
      </p>

      {% assign post = site.posts.first %}

      {% assign date = post.date %}
      <h2 class="centered orange scream">Próximo meetup{% unless post.undefined %}:<time datetime="{{post.date | date_to_xmlschema }}"><span> {% include localized_datetime.liquid %}</span></time>{% endunless %}</h2>
      <div class="clearfix">
        <section class="content single {% if post.undefined %}undefined{% endif %}">
          {% if post.undefined %}
            <h2>{{ post.title }}</h2>
          {% else %}
            <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
          {% endif %}
          {{ post.content }}
        </section>
      </div>

      {% if post.sponsor %}

      <section class="full_box centered sponsor home">
        <h3>Patrocinador</h3>

        <a class="ir block {{ post.sponsor['name'] }}" target="_blank"
          href="{{ post.sponsor['url'] }}" title="{{ post.sponsor['text'] }}">{{ post.sponsor['text'] }}</a>
      </section>

      {% endif %}

      {% if post.reservation_url %}

      <p class="centered margin_bottom_20 clearfix block">
        <a class="orange_button" href="{{ post.reservation_url }}" target="_blank">Asistiré a Valencia.rb</a>
        <small class="block small_caption">Por cuestiones de aforo nos gustaría saber el numero de asistentes.</small>
      </p>

      {% endif %}

      <h2 class="centered orange scream margin_bottom_10">Localización</h2>

      <section class="full_box home">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.934970879338!2d-0.36974028555550936!3d39.47079777948628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6048b0d71a71c7%3A0x35fc3fef05ccc20c!2sCarrer+del+Gravador+Esteve%2C+14%2C+46004+Val%C3%A8ncia%2C+Valencia!5e0!3m2!1sen!2ses!4v1460374513801" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <br />
      </section>

    </div>
