---
import Logo from "../../components/Logo.astro";
import Meeting from "../../components/Meeting.astro";
import MeetingSponsor from "../../components/MeetingSponsor.astro";
import PageLayout from "../../layouts/PageLayout.astro";
import People from "../../components/People.astro";

// @ts-ignore
const allMeetings = Object.values(import.meta.glob('./../en/meetings/*.md', { eager: true }));
const latestMeeting = allMeetings.reverse()[0];
---
<PageLayout
  title="Welcome to the Valencia.rb user group"
  >

  <h1 class="title">Next Meeting</h1>
  <hr>

  <Meeting
  date={(latestMeeting as any).frontmatter.date}
  title={(latestMeeting as any).frontmatter.title}
  location={(latestMeeting as any).frontmatter.location}
  location_map={(latestMeeting as any).frontmatter.location_map}
  posted={(latestMeeting as any).frontmatter.author}
  >
  { (latestMeeting as any).frontmatter.sponsor ?
  <MeetingSponsor sponsor={(latestMeeting as any).frontmatter.sponsor} slot={(latestMeeting as any).frontmatter.sponsor && "sponsors"}/>
    : null
  }
  { (latestMeeting as any).frontmatter.extras ?
    <div slot="extras">
      <div class="has-text-right">
      <Logo src={(latestMeeting as any).frontmatter.extras.src} alt={(latestMeeting as any).frontmatter.extras.alt} width={(latestMeeting as any).frontmatter.extras.width}/>
      </div>
    </div>
    :
    <span></span>
  }

  <Fragment set:html={(latestMeeting as any).compiledContent()}/>
  </Meeting>
  <People/>
</PageLayout>
