---
import Logo from "../components/Logo.astro";
import Meeting from "../components/Meeting.astro";
import MeetingSponsor from "../components/MeetingSponsor.astro";
import PageLayout from "../layouts/PageLayout.astro";
import People from "../components/People.astro";
import Announcement from "../components/Announcement.astro";
import * as announcement from "../announcements/anuncio.md";


const allMeetings = Object.values(import.meta.glob('./meetings/*.md', { eager: true }));
const latestMeeting = allMeetings.reverse()[0];
---
<PageLayout
  title="Bienvenidos al grupo de Valencia.rb"
  >

  <Announcement slot="announcement" announcement={announcement}/>

  <h1 class="title" id="next_meeting">Próxima Reunión Pospuesta</h1>
  <p>Cuando tengamos más detalles los publicaremos aquí!</p>

  <hr>

  <!--Meeting
  date={(latestMeeting as any).frontmatter.date}
  title={(latestMeeting as any).frontmatter.title}
  location={(latestMeeting as any).frontmatter.location}
  location_map={(latestMeeting as any).frontmatter.location_map}
  posted={(latestMeeting as any).frontmatter.author}
  >
  { (latestMeeting as any).frontmatter.sponsor &&
    <MeetingSponsor sponsor={(latestMeeting as any).frontmatter.sponsor} slot={(latestMeeting as any).frontmatter.sponsor && "sponsors"}/>
  }
  { (latestMeeting as any).frontmatter.extras ?
    <div slot="extras">
      <div class="has-text-right">
      <Logo src={(latestMeeting as any).frontmatter.extras.src} alt={(latestMeeting as any).frontmatter.extras.alt} />
      </div>
    </div>
    : null
  }

  <Fragment set:html={(latestMeeting as any).compiledContent()}/>
  </Meeting-->
  <People/>
</PageLayout>
