---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import Person from "./Person.astro";
import data from "../people.json";
const people = data.people.sort((a, b) => a["name"].localeCompare(b["name"]))

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<h1 class="title is-size-4">
  <span class="icon mr-2 has-text-grey"><i class="fas fa-people-group"></i></span>
  <span class="is-red">{t("members")}</span>
</h1>
<div class="fixed-grid has-3-cols has-1-cols-mobile">
  <div class="grid">
    {people.map((person: any) =>
      <div class="cell">
        <Person
          avatar={person["avatar"]}
          name={person["name"]}
          social_name={person["social_name"]}
          social_link={person["social_link"]}
          social_icon={person["social_icon"]}
          website={person["website"]}
        >
          {person["intro"]}
        </Person>
      </div>
    )}
  </div>
</div>
