---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Logo from "../components/Logo.astro";
import NarrowSection from "../components/NarrowSection.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { title } = Astro.props
---
<html lang="en" class="theme-light">
  <Head
    title={title}
  />
  <body>
    <Header/>
    <!-- <Anouncement>
      <h1>2024 Kick-off meeting!</h1>
      <p>
        Yes, you heard that right, we are back!
      </p>
    </Anouncement> -->

    <NarrowSection>
      <slot/>
      <hr>
      <div class="has-text-centered">
        <h1 class="title is-size-6 is-red">{t("sponsors")}</h1>
        <div class="grid">
          <div class="cell">
            <a href="https://www.iukanet.com" target="_blank">
              <Logo src="iukanet.png" alt="Administración de Sistemas y Servidores a Medida" width="100"/>
            </a>
          </div>
        </div>
      </div>
    </NarrowSection>
    <Footer/>
  </body>
 </html>
